{% render 'partials/head.liquid' %}

<section class="flip-card">
  <section class="flip-card-inner">
  
  <section class="flip-card-front">
    <h1> NAYOME DOELWIJT </h1>
  </section>

  <section class="flip-card-back">
    <img class="background-star" src="/Star-red.png"></img>
   <h2> FRONT-END DESIGN <span class="highlight">AND DEVELOPMENT</span> </h2>

   
  <section class="content-left">
    <img class="profile-picture" src="/profile-pic.png">
    <button class="#pop-out-button">ABOUT ME</button>
  </section>

  <section class="content-right">
    <article class="introduction">
      <p>.introduction { </p>
      <p>name: {{ person.name }} </p>
      <p>age: {{ person.age }} </p>
      <p>skill-set: {{ person.skill-set }} </p>
      <p>favorite: {{ person.favorite }} </p>
      <p>}</p>
    </article>
   
    <section class="contact">
     <a href="mailto:Nayomedoelwijt@gmail.com">
     <img src="/email.png" alt="mijn e-mail" >
     </a>
     <a href="tel:0629424348">
     <img src="/phone.png" alt="mijn telefoon nummer">
     </a>
     <a href="https://github.com/Nayomekaia">
     <img src="/github.png" alt="mijn github">
     </a>

  </section>

</section>
</section>

{% render 'partials/foot.liquid' %}

