{% render 'partials/head.liquid' %}

<section class="flip-card">
  <section class="flip-card-inner">
  
  <section class="flip-card-front">
    <h1> NAYOME DOELWIJT <h1>
  </section>

  <section class="flip-card-back">
    <h2> FRONT-END DESIGNER AND DEVELOPER </h2>
   
  <section class="content-left">
    <img src="#" alt="Profile picture">
    <a href="#pop-out-button">ABOUT ME</a>
  </section>

  <section class="content-right">
    <article class="introduction">
      <p>.introduction { </p>
      <p>name: {{ person.name }} </p>
      <p>age: {{ person.age }} </p>
      <p>skill-set: {{ person.skill-set }} </p>
      <p>favorite: {{ person.favorite }} </p>
      <p>}</p>
    </article>
   
    <section class"contact">
      <a href="#">
      <img src="#" alt="mijn e-mail">
      <a href="#">
      <img src="#" alt="mijn telefoon nummer">
      <a href="#">
      <img src="#" alt="mijn github">
  </section>

</section>
</section>

{% render 'partials/foot.liquid' %}

